<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h4>
      <%= @post.title %>
    </h4>


<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit post
    </h2>

    <form action="/modify_post/<%= @post.id %>"  method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="user_id_from_query" class="form-control" value="<%= @post.user_id %>">
      </div>

      <div class="form-group">
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="title_from_query" class="form-control" value="<%= @post.title %>">
      </div>

      <div class="form-group">
        <label for="photo1_box">
          Photo1
        </label>

        <input type="file" id="photo1_box" name="photo1_from_query" class="form-control" value="<%= @post.photo1 %>">
      </div>

      <div class="form-group">
        <label for="photo2_box">
          Photo2
        </label>

        <input type="text" id="photo2_box" name="photo2_from_query" class="form-control" value="<%= @post.photo2 %>">
      </div>

      <div class="form-group">
        <label for="photo3_box">
          Photo3
        </label>

        <input type="text" id="photo3_box" name="photo3_from_query" class="form-control" value="<%= @post.photo3 %>">
      </div>

      <div class="form-group">
        <label for="photo4_box">
          Photo4
        </label>

        <input type="text" id="photo4_box" name="photo4_from_query" class="form-control" value="<%= @post.photo4 %>">
      </div>

      <div class="form-group">
        <label for="ingredients_box">
          Ingredients
        </label>

        <textarea id="ingredients_box" name="ingredients_from_query" class="form-control" rows="3"><%= @post.ingredients %></textarea>
      </div>

      <div class="form-group">
        <label for="instructions_box">
          Instructions
        </label>

        <textarea id="instructions_box" name="instructions_from_query" class="form-control" rows="3"><%= @post.instructions %></textarea>
      </div>

      <div class="form-group">
        <label for="category_box">
          Category
        </label>

        <input type="text" id="category_box" name="category_from_query" class="form-control" value="<%= @post.category %>">
      </div>

      <div class="form-group">
        <label for="caption1_box">
          Caption1
        </label>

        <textarea id="caption1_box" name="caption1_from_query" class="form-control" rows="3"><%= @post.caption1 %></textarea>
      </div>

      <div class="form-group">
        <label for="caption2_box">
          Caption2
        </label>

        <textarea id="caption2_box" name="caption2_from_query" class="form-control" rows="3"><%= @post.caption2 %></textarea>
      </div>

      <div class="form-group">
        <label for="caption3_box">
          Caption3
        </label>

        <textarea id="caption3_box" name="caption3_from_query" class="form-control" rows="3"><%= @post.caption3 %></textarea>
      </div>

      <div class="form-group">
        <label for="prep_time_box">
          Prep time
        </label>

        <input type="text" id="prep_time_box" name="prep_time_from_query" class="form-control" value="<%= @post.prep_time %>">
      </div>

      <div class="form-group">
        <label for="cook_time_box">
          Cook time
        </label>

        <input type="text" id="cook_time_box" name="cook_time_from_query" class="form-control" value="<%= @post.cook_time %>">
      </div>

      <div class="form-group">
        <label for="serving_box">
          Serving
        </label>

        <input type="text" id="serving_box" name="serving_from_query" class="form-control" value="<%= @post.serving %>">
      </div>

      <div class="form-group">
        <label for="post_layout_id_box">
          Post layout
        </label>

        <input type="text" id="post_layout_id_box" name="post_layout_id_from_query" class="form-control" value="<%= @post.post_layout_id %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update post
      </button>
    </form>
  </div>
</div>

<hr>
