<div class="row mb-3">
  <div class="col-md-6 offset-md-2">
    <h4>
      <%= @post.title %>
    </h4>

    <p class="font-text-light small"> Posted Date by I'm Going Bananas </p>
  </div>
</div>

<div class="row mb-3">
  <div class="col-lg-6 offset-lg-2">

  <div class="mb-3">
      <img src="<%= @post.photo1 %>" class="img-fluid">
  </div>

  <div class="mb-3">
        <p><%= @post.caption1 %> </p>
  </div>


  <div class="mb-3">
      <img src="<%= @post.photo2 %>" class="img-fluid">
  </div>

<div class="card text-center mb-3">
  <div class="card-body">

    <div class="text-right">
    <a href="" class="btn btn-sm btn-outline-warning">Print</a>
    </div>

    <h4 class="card-title"> <%= @post.title %>
    </h4>

    <p> Serves <%= @post.serving %> </p>
    <div>
      <hr>
       <h6> Prep Time: </h6> <p><%= @post.prep_time %></p>
      <hr>
    </div>

    <h5 class="card-title text-left text-info">INGREDIENTS</h5>
    <div class="text-left">
    <p class="card-text text-left"><%= simple_format(@post.ingredients) %></p>
    </div>

    <h5 class="card-title text-left text-info">INSTRUCTIONS</h5>
    <div class="text-left">
    <p class="card-text text-left"><%= simple_format(@post.instructions) %></p>
    </div>

    <h5 class="card-title text-left text-info">NOTES</h5>
    <div class="text-left">
    <p class="card-text text-left"><%= simple_format(@post.notes) %></p>
    </div>
  </div>
</div>

  <div class="mb-3">
      <img src="<%= @post.photo3 %>" class="img-fluid">
  </div>

        <%= @post.caption2 %>
        <%= @post.caption3 %>
        <%= @post.cook_time %>
        
        <%= @post.post_layout_id %>

  </div>

<div class="col-lg-2 text-center">
  
  <div class="mb-4">
  <hr>
        <h6> Search </h6>
  <hr>
  </div>
  
  <a type="button" class="btn-floating btn-large btn-fb"><i class="fab fa-facebook-square fa-2x"></i></a>
  <a type="button" class="btn-floating btn-large btn-fb"><i class="fab fa-instagram fa-2x"></i></a>
  
  <div>
        <a href="/posts/<%= @post.id %>/edit"> edit </a>
  </div>

</div>

</div>
