<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h4>
      <%= @post.title %>
    </h4>
    <p class="font-text-light small"> Posted Date by I'm Going Bananas </p>
    <a href="/posts/<%= @post.id %>/edit"> edit </a>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 offset-lg-2">

    <dl>
      <dd>
         <img src="<%= @post.photo1 %>" class="img-responsive">
      </dd>

      <dt>
        Photo2
      </dt>
      <dd>
        <%= @post.photo2 %>
      </dd>

      <dt>
        Photo3
      </dt>
      <dd>
        <%= @post.photo3 %>
      </dd>

      <dt>
        Photo4
      </dt>
      <dd>
        <%= @post.photo4 %>
      </dd>

      <dt>
        Ingredients
      </dt>
      <dd>
        <%= @post.ingredients %>
      </dd>

      <dt>
        Instructions
      </dt>
      <dd>
        <%= @post.instructions %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <%= @post.category %>
      </dd>

      <dt>
        Caption1
      </dt>
      <dd>
        <%= @post.caption1 %>
      </dd>

      <dt>
        Caption2
      </dt>
      <dd>
        <%= @post.caption2 %>
      </dd>

      <dt>
        Caption3
      </dt>
      <dd>
        <%= @post.caption3 %>
      </dd>

      <dt>
        Prep time
      </dt>
      <dd>
        <%= @post.prep_time %>
      </dd>

      <dt>
        Cook time
      </dt>
      <dd>
        <%= @post.cook_time %>
      </dd>

      <dt>
        Serving
      </dt>
      <dd>
        <%= @post.serving %>
      </dd>

      <dt>
        Post layout
      </dt>`  
      <dd>
        <%= @post.post_layout_id %>
      </dd>

    </dl>
  </div>
</div>

